.header {
  background-color: #096dd9;
  height: 100%;
}
._title {
  width: 200px;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  font-size: 20px;
}
._title .setting {
  display: inline-block;
  position: absolute;
  right: 0;
  font-size: 14px;
}
.linechart {
  margin-right: 5px;
}
.ant-popover-content {
  margin-top: 8px;
}
.ant-popover-arrow {
  margin-top: 8px;
}
.log_out {
  cursor: pointer;
}
